<div class='container rounded' style='background: white !important; padding-bottom:50px;' >

<p id="notice"><%= notice %></p>

  <div class='row' style='padding-top:50px'>
    <div class='col-md-4'>
    
      <% if current_user.profile %>
      <h4> <%= current_user.profile.first_name %> <%= current_user.profile.last_name %> </h4>
        
        <h5 style='text-align:left !important;'> Email: <%= current_user.email %> </h5>
        <h5 style='text-align:left !important;'> Phone: <%= current_user.profile.phone %> </h5>
        <h5 style='text-align:left !important;'> Address: <%= current_user.profile.address %> <%= current_user.profile.city %>, <%= current_user.profile.state%> </h5>
        <h6> <%= link_to 'Edit', edit_profile_path(current_user.profile) %> </h6>
      <% else %>
       
        <h5><%= link_to 'Create Your Profile', new_profile_path %></h5>
        <% end %>
    </div>
    <div class="mycontent-left"></div>

    <div class='col-md-5 offset-md-1'>
        <div class='container-fluid text-center' id='white_link'>
          <div class='row' style='padding-top:15px'>
            <div class='col-md-6'>
              <button type="button" class="btn btn-info">
              <% if current_user.personal %>
              <%= link_to 'Detailed Profile', edit_personal_path(current_user.personal)%>
              <%else%>
              
              <%= link_to 'Detailed Profile', new_personal_path%>
              <%end%>
              </button>
            </div>
            <div class='col-md-6'>
              <button type="button" class="btn btn-info">Personal References</button>
            </div>
          </div>
          <div class='row' style='padding-top:15px'>
            <div class='col-md-6'>
              <button type="button" class="btn btn-info">Record Of Education</button>
            </div>
            <div class='col-md-6'>
              <button type="button" class="btn btn-info">Criminal Background</button>
            </div>
          </div>
        
          <div class='row' style='padding-top: 15px'>
            <div class='col-md-12'>
              <button type="button" class="btn btn-info">Submit Application</button>
            </div>
          
        </div>
      </div>
    </div>
  </div>



<style type="text/css">.mycontent-left {
  border-left: 3px solid #F2F7F9 !important; 
}
#white_link a {
  color:white !important;
}
#white_link a.hover {
  text-decoration: none !important;
}
</style>