<div class='row'>
  <div class='mx-auto'>
    <div class="card" style="width: 24rem; background: white;">
      <div class="card-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Commited to christ:</strong>
  <%= @full_profile.commited_to_christ %>
</p>

<p>
  <strong>Where when:</strong>
  <%= @full_profile.where_when %>
</p>

<p>
  <strong>Church:</strong>
  <%= @full_profile.church %>
</p>

<p>
  <strong>How long:</strong>
  <%= @full_profile.how_long %>
</p>

<p>
  <strong>Pastors name:</strong>
  <%= @full_profile.pastors_name %>
</p>

<p>
  <strong>Church phone:</strong>
  <%= @full_profile.church_phone %>
</p>

<p>
  <strong>Worked with children:</strong>
  <%= @full_profile.worked_with_children %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @full_profile.describe %>
</p>

<p>
  <strong>Worked with abused:</strong>
  <%= @full_profile.worked_with_abused %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @full_profile.describe %>
</p>

<p>
  <strong>Can lead devotion:</strong>
  <%= @full_profile.can_lead_devotion %>
</p>

<p>
  <strong>Description of you:</strong>
  <%= @full_profile.description_of_you %>
</p>

<p>
  <strong>Strengths:</strong>
  <%= @full_profile.strengths %>
</p>

<p>
  <strong>Weaknesses:</strong>
  <%= @full_profile.weaknesses %>
</p>

<p>
  <strong>Preferred age:</strong>
  <%= @full_profile.preferred_age %>
</p>

<p>
  <strong>User:</strong>
  <%= @full_profile.user %>
</p>

<%= link_to 'Edit', edit_full_profile_path(@full_profile) %> |
<%= link_to 'Back', root_path %>
</div>
</div>
</div>
</div>