<div class='row'>
  <div class='mx-auto'>
    <div class="card" style="width: 24rem; background: white;">
      <div class="card-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Birthdate:</strong>
  <%= @personal.birthdate %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @personal.sex %>
</p>

<p>
  <strong>Married:</strong>
  <%= @personal.married %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @personal.occupation %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @personal.employer %>
</p>

<p>
  <strong>Years in state:</strong>
  <%= @personal.years_in_state %>
</p>

<p>
  <strong>Months in state:</strong>
  <%= @personal.months_in_state %>
</p>

<p>
  <strong>Emergency contact:</strong>
  <%= @personal.emergency_contact %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @personal.relationship %>
</p>

<p>
  <strong>Emer phone:</strong>
  <%= @personal.emer_phone %>
</p>

<p>
  <strong>Shirt size:</strong>
  <%= @personal.shirt_size %>
</p>

<p>
  <strong>Cpr:</strong>
  <%= @personal.cpr %>
</p>

<p>
  <strong>First aid:</strong>
  <%= @personal.first_aid %>
</p>

<p>
  <strong>Life guard:</strong>
  <%= @personal.life_guard %>
</p>

<p>
  <strong>Nurse:</strong>
  <%= @personal.nurse %>
</p>

<p>
  <strong>Emt:</strong>
  <%= @personal.emt %>
</p>

<p>
  <strong>Have worked with abused:</strong>
  <%= @personal.have_worked_with_abused %>
</p>

<p>
  <strong>Describe work with abused:</strong>
  <%= @personal.describe_work_with_abused %>
</p>

<p>
  <strong>Was victim:</strong>
  <%= @personal.was_victim %>
</p>

<p>
  <strong>Discuss abuse:</strong>
  <%= @personal.discuss_abuse %>
</p>

<p>
  <strong>Clarify:</strong>
  <%= @personal.clarify %>
</p>

<p>
  <strong>Why you want to counsel:</strong>
  <%= @personal.why_you_want_to_counsel %>
</p>



<%= link_to 'Edit', edit_personal_path(@personal) %> |
<%= link_to 'Back', root_path %>
</div>
</div>
</div>
</div>