<p id="notice"><%= notice %></p>

<p>
  <strong>High:</strong>
  <%= @reference.high %>
</p>

<p>
  <strong>School:</strong>
  <%= @reference.school %>
</p>

<p>
  <strong>Date1:</strong>
  <%= @reference.date1 %>
</p>

<p>
  <strong>College:</strong>
  <%= @reference.college %>
</p>

<p>
  <strong>Major:</strong>
  <%= @reference.major %>
</p>

<p>
  <strong>Date2:</strong>
  <%= @reference.date2 %>
</p>

<p>
  <strong>Reference1:</strong>
  <%= @reference.reference1 %>
</p>

<p>
  <strong>Ref1 addr:</strong>
  <%= @reference.ref1_addr %>
</p>

<p>
  <strong>Ref1 phone:</strong>
  <%= @reference.ref1_phone %>
</p>

<p>
  <strong>Reference2:</strong>
  <%= @reference.reference2 %>
</p>

<p>
  <strong>Ref2 addr:</strong>
  <%= @reference.ref2_addr %>
</p>

<p>
  <strong>Ref2 phone:</strong>
  <%= @reference.ref2_phone %>
</p>

<p>
  <strong>Reference3:</strong>
  <%= @reference.reference3 %>
</p>

<p>
  <strong>Ref3 addr:</strong>
  <%= @reference.ref3_addr %>
</p>

<p>
  <strong>Ref3 phone:</strong>
  <%= @reference.ref3_phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @reference.user %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
